body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333333;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.container a {
  background-color: rgba(255, 255, 255, 0);
  width: 60vw;
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 2vw;
  font-size: 1.5vw;
  border-radius: 10px;
}

/* CONTAINER BOXES | CONTAINER BOXES | CONTAINER BOXES | CONTAINER BOXES */
.container a {
  text-decoration: none;
  padding: 1.1vw 5.2vw 1.1vw 5.2vw;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2vw;
  border-radius: 10px;
  margin-top: 6vw;
  position: relative;
}

.sales {
  color: rgb(255, 225, 89);
  border: 4px solid rgb(255, 225, 89);
  text-shadow: 0 0 0.5em rgb(255, 225, 89);
  box-shadow: inset 0 0 0.5em rgb(255, 225, 89), 0 0 0.5em rgb(255, 225, 89);
  transition: background-color 0.1s linear;
}
.estate {
  color: #a2caff;
  border: 4px solid #a2caff;
  text-shadow: 0 0 0.5em #a2caff;
  box-shadow: inset 0 0 0.5em #a2caff, 0 0 0.5em #a2caff;
  transition: background-color 0.1s linear;
}
.designer {
  color: #ffc9ed;
  border: 4px solid #ffc9ed;
  text-shadow: 0 0 0.5em #ffc9ed;
  box-shadow: inset 0 0 0.5em #ffc9ed, 0 0 0.5em #ffc9ed;
  transition: background-color 0.1s linear;
}
.security {
  color: rgb(89, 120, 255);
  border: 4px solid rgb(89, 120, 255);
  text-shadow: 0 0 0.5em rgb(89, 120, 255);
  box-shadow: inset 0 0 0.5em rgb(89, 120, 255), 0 0 0.5em rgb(89, 120, 255);
  transition: background-color 0.1s linear;
}

.sales::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: rgb(255, 225, 89);
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5vw) rotateX(20deg) scale(1, 0.5);
  filter: blur(3vw);
  opacity: 0.4;
}
.estate::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: #a2caff;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5vw) rotateX(20deg) scale(1, 0.5);
  filter: blur(3vw);
  opacity: 0.4;
}
.designer::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: #ffc9ed;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5vw) rotateX(20deg) scale(1, 0.5);
  filter: blur(3vw);
  opacity: 0.4;
}
.security::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: rgb(89, 120, 255);
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5vw) rotateX(20deg) scale(1, 0.5);
  filter: blur(3vw);
  opacity: 0.4;
}

.sales::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3vw 0.2vw rgb(255, 225, 89);
  opacity: 0;
  transition: opacity 0.1s linear;
}
.sales:hover::after {
  opacity: 1;
}
.estate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3vw 0.2vw #a2caff;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.estate:hover::after {
  opacity: 1;
}
.designer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3vw 0.2vw #ffc9ed;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.designer:hover::after {
  opacity: 1;
}
.security::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3vw 0.2vw rgb(89, 120, 255);
  opacity: 0;
  transition: opacity 0.1s linear;
}
.security:hover::after {
  opacity: 1;
}

.sales:hover::before,
.estate:hover::before,
.designer:hover::before,
.security:hover::before {
  opacity: 1;
}

.sales:hover,
.sales:focus {
  background-color: rgb(255, 225, 89);
  color: #414141;
}
.estate:hover,
.estate:focus {
  background-color: #a2caff;
  color: #414141;
}
.designer:hover,
.designer:focus {
  background-color: #ffc9ed;
  color: #414141;
}
.security:hover,
.security:focus {
  background-color: rgb(89, 120, 255);
  color: #414141;
}

.sales {
  transform: perspective(10vw) rotateX(20deg) scale(0.6, 0.5);
  margin-bottom: -2vw !important;
}
.estate {
  transform: perspective(10vw) rotateX(15deg) scale(0.8, 0.6);
  margin-bottom: -1vw !important;
}
.designer {
  transform: perspective(10vw) rotateX(11deg) scale(1, 0.7);
  margin-bottom: 0vw !important;
}
.security {
  transform: perspective(10vw) rotateX(10deg) scale(1.2, 0.8);
}
.sales::before,
.estate::before,
.designer::before,
.security::before {
  transform: scale(1, 0.5);
}

.sales:hover {
  transform: scale(0.8);
  transition: transform 0.4s ease-out;
}

.estate:hover {
  transform: scale(0.9);
  transition: transform 0.4s ease-out;
}
.designer:hover {
  transform: scaleX(1.05);
  transition: transform 0.4s ease-out;
}
.security:hover {
  transform: scaleX(1.24) scaleY(1.1);
  transition: transform 0.4s ease-out;
}

.sales:hover::before,
.estate:hover::before,
.designer:hover::before,
.security:hover::before {
  transform: perspective(4vw) rotateX(10deg) scale(1.1, 0.4);
  transition: transform 0.4s ease-out;
}
/* CONTAINER BOXES END | CONTAINER BOXES END | CONTAINER BOXES END | CONTAINER BOXES END */

@media only screen and (max-width: 900px) {
  .container a {
    width: 60vw;
    height: 6vw;
    margin: 7vh 0 7vh 0;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 6vw;
    font-size: 1.5vw;
    border-radius: 5px;
    border-width: 2px;
    font-size: 3vw;
  }

  .sales {
    transform: perspective(10vw) rotateX(20deg) scale(0.6, 0.5);
    margin-bottom: 5vw !important;
  }
  .estate {
    transform: perspective(10vw) rotateX(15deg) scale(0.8, 0.6);
    margin-bottom: 10vw !important;
  }
  .designer {
    transform: perspective(10vw) rotateX(11deg) scale(1, 0.8);
    margin-bottom: 15vw !important;
  }
  .security {
    transform: perspective(10vw) rotateX(10deg) scale(1.1, 0.8);
  }
  .sales::before,
  .estate::before,
  .designer::before,
  .security::before {
    transform: scale(1, 0.5);
  }

  .sales:hover,
  .estate:hover,
  .designer:hover,
  .security:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-out;
  }

  .sales:hover::before,
  .estate:hover::before,
  .designer:hover::before,
  .security:hover::before {
    transform: perspective(4vw) rotateX(10deg) scale(1.15, 0.6);
    transition: transform 0.4s ease-out;
  }
}
